/*
Smart View Environmental API

Empower yourself with Environmental APIs. The API makes it possible to fetch current environmental data including humidity and temperature for a single sensor (identified by IBX code and sensor ID) or for all the sensors within an IBX (identified by IBX code) in a paginated way. When fetching all sensor readings you can apply additional sort criteria.

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package smartview

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AlertLogApiService AlertLogApi service
type AlertLogApiService service

type ApiGetAlertActivityLogRequest struct {
	ctx context.Context
	ApiService *AlertLogApiService
	authorization *string
	pageNum *string
	limit *string
	ibx *string
	category *string
	eventType *string
	isAcknowledged *string
	accountNo *string
	orderBy *string
	sortBy *string
}

// The OAuth Bearer token. Please add the prefix &#39;Bearer &#39; before the token.
func (r ApiGetAlertActivityLogRequest) Authorization(authorization string) ApiGetAlertActivityLogRequest {
	r.authorization = &authorization
	return r
}

// Page Number
func (r ApiGetAlertActivityLogRequest) PageNum(pageNum string) ApiGetAlertActivityLogRequest {
	r.pageNum = &pageNum
	return r
}

// Limit
func (r ApiGetAlertActivityLogRequest) Limit(limit string) ApiGetAlertActivityLogRequest {
	r.limit = &limit
	return r
}

// IBX
func (r ApiGetAlertActivityLogRequest) Ibx(ibx string) ApiGetAlertActivityLogRequest {
	r.ibx = &ibx
	return r
}

// Category
func (r ApiGetAlertActivityLogRequest) Category(category string) ApiGetAlertActivityLogRequest {
	r.category = &category
	return r
}

// Event Type
func (r ApiGetAlertActivityLogRequest) EventType(eventType string) ApiGetAlertActivityLogRequest {
	r.eventType = &eventType
	return r
}

// Is Acknowledged
func (r ApiGetAlertActivityLogRequest) IsAcknowledged(isAcknowledged string) ApiGetAlertActivityLogRequest {
	r.isAcknowledged = &isAcknowledged
	return r
}

// Account Number
func (r ApiGetAlertActivityLogRequest) AccountNo(accountNo string) ApiGetAlertActivityLogRequest {
	r.accountNo = &accountNo
	return r
}

// order by ascending or descending 
func (r ApiGetAlertActivityLogRequest) OrderBy(orderBy string) ApiGetAlertActivityLogRequest {
	r.orderBy = &orderBy
	return r
}

// sortBy value 
func (r ApiGetAlertActivityLogRequest) SortBy(sortBy string) ApiGetAlertActivityLogRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiGetAlertActivityLogRequest) Execute() (*AlertActivityLog, *http.Response, error) {
	return r.ApiService.GetAlertActivityLogExecute(r)
}

/*
GetAlertActivityLog get alert activity logs

This endpoint returns alert log for inputs (ibx,category,event type,account number,page number,limit, order by, sort by,acknowledged).


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAlertActivityLogRequest
*/
func (a *AlertLogApiService) GetAlertActivityLog(ctx context.Context) ApiGetAlertActivityLogRequest {
	return ApiGetAlertActivityLogRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AlertActivityLog
func (a *AlertLogApiService) GetAlertActivityLogExecute(r ApiGetAlertActivityLogRequest) (*AlertActivityLog, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AlertActivityLog
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AlertLogApiService.GetAlertActivityLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/smartview/v1/alerts/getAlertActivityLog"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.pageNum == nil {
		return localVarReturnValue, nil, reportError("pageNum is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	if r.ibx != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ibx", r.ibx, "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "")
	}
	if r.eventType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventType", r.eventType, "")
	}
	if r.isAcknowledged != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isAcknowledged", r.isAcknowledged, "")
	}
	if r.accountNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountNo", r.accountNo, "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageNum", r.pageNum, "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	if r.orderBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderBy", r.orderBy, "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v PowerDataError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
