


swagger: '2.0' 
info:
  description: Network Edge (NE) is a platform that allows customers to deploy and run virtual network services and appliances such as routers, load balancers, and firewalls on a generic device instead of additional dedicated hardware, CapEx and colo space. The Network Edge REST APIs allow you to interact with the Equinix Platform to programmatically create a virtual device and add services. Details on specific use cases can be found in the documentation available on the developer portal.
  version: '1.0'
  title: Network Edge APIs
  termsOfService: 'https://www.equinix.com/about/legal/terms'
  contact:
   name: Equinix API Support
   url: https://docs.equinix.com/api-support.htm
host: api.equinix.com
schemes:
- https
paths:
  /ne/v1/deviceTypes:
    get:
      tags:
      - Setup
      summary: Get Device Types 
      description: Returns device types (e.g., routers and firewalls) that can be launched on the NE platform.
      operationId: getVirtualDevicesUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: deviceTypeCode
        in: query
        description: Device type code (e.g., C8000V)
        type: string
        required: false
      - name: category
        in: query
        description: Category. One of FIREWALL, ROUTER or SD-WAN
        required: false
        type: string
      - name: offset
        in: query
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string 
        default: 20
        format: int32

      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageResponseDto-VirtualDeviceType'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

  /ne/v1/deviceTypes/{deviceType}/interfaces:
    get:
      tags:
      - Setup
      summary: Get Allowed Interfaces
      description: Returns the interface details for a device type with a chosen configuration. You must pass the device type as the path parameter. 
      operationId: getAllowedInterfacesUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: deviceType
        in: path
        description: Device type code. PA-VM.
        required: true
        type: string
      - name: deviceManagementType
        in: query
        description: Device management type. SELF-CONFIGURED
        required: true
        type: string
      - name: mode
        in: query
        required: false
        description: License mode, either Subscription or BYOL. 
        type: string
      - name: cluster
        in: query
        description: Whether you want a cluster device.
        required: false
        type: boolean
      - name: sdwan
        in: query
        description: Whether you want an SD-WAN device.
        required: false
        type: boolean
      - name: connectivity
        in: query
        description: Type of connectivity you want. INTERNET-ACCESS, PRIVATE, or INTERNET-ACCESS-WITH-PRVT-MGMT. PRIVATE devices do not have ACLs or bandwidth.
        required: false
        type: string
      - name: core
        in: query
        description: The desired number of cores.
        required: true
        type: integer
      - name: memory
        in: query
        description: Desired memory.
        required: false
        type: integer
      - name: unit
        in: query
        description: Unit of memory. GB or MB.
        required: false
        type: string
      - name: flavor
        in: query
        description: Flavor of device.
        required: false
        type: string
      - name: version
        in: query
        description: Version.
        required: false
        type: string
      - name: softwarePkg
        in: query
        description: Software package.
        required: false
        type: string
        
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AllowedInterfaceResponse'
        '404':
          description: Resource Not found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
            
  /ne/v1/metros:
    get:
      tags:
      - Setup
      summary: Get Available Metros
      description: Gets the available list of metros where NE platform is available. Please note that an account must be created for each country where virtual devices are being purchased.
      operationId: getMetrosUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: region
        in: query
        description: Name of the region for which you want metros (e.g., AMER)
        required: false
        type: string
      - name: offset
        in: query
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string 
        default: 20
        format: int32

      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageResponseDto-MetroResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/accounts/{metro}:
    get:
      tags:
      - Setup
      summary: Get Accounts {metro}
      description: Gets accounts by metro. You must have an account in a metro to create a virtual device there. To create an account go to "accountCreateUrl".
      operationId: getAccountsWithStatusUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: metro
        in: path
        description: Metro region for which you want to check your account status
        required: true
        type: string
      - name: accountUcmId
        in: query
        description: Unique ID of an account
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Successfully retrieved the account details
          schema:
            $ref: '#/definitions/PageResponseDto-MetroAccountResponse'
        '401':
          description: You are not authorized to view the resource
        '403':
          description: Accessing the resource you were trying to reach is forbidden
        '404':
          description: Resource not found
        '500':
          description: 500 message
  /ne/v1/agreements/accounts:
    get:
      tags:
        - Setup
      summary: Get Agreement Status.
      description: Call this API to find out the status of your agreement, whether it is valid or not, or to just read the agreement terms.
      operationId: getAgreementStatusUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: account_number
          in: query
          description: account_number
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Successfully retrieved Status
          schema:
            $ref: '#/definitions/AgreementStatusResponse'
        '404':
          description: Resource not found
        '500':
          description: 500 message
    post:
      tags:
        - Setup
      summary: Create an agreement
      description: Call this API to post an agreement. The authorization token and content-type are the only headers that are passed to this API and a response is received based on the values passed.
      operationId: sendAgreementUsingPOST_1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: agreementAcceptRequest
          description: agreementAcceptRequest
          required: true
          schema:
            $ref: '#/definitions/AgreementAcceptRequest'
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: 'The request is fulfilled.'
          schema:
            $ref: '#/definitions/AgreementAcceptResponse'
        '404':
          description: Resource not found

  /ne/v1/agreements/vendors:
    get:
      tags:
        - Setup
      summary: Get Vendor Terms
      description: Returns a link to a vendor's terms. The term "vendor" refers to the vendor of a virtual device on the Network Edge platform.
      operationId: getVendorTermsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: vendorPackage
          in: query
          description: vendorPackage
          required: true
          type: string
        - name: licenseType
          in: query
          description: licenseType
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Successfully retrieved the vendor's terms
          schema:
            $ref: '#/definitions/VendorTermsResponse'
        '404':
          description: Resource not found
        '500':
          description: 500 message
  /ne/v1/agreements/orders:
    get:
      tags:
        - Setup
      summary: Get Order Terms
      description: Retrieves the terms and conditions of orders. Please read the terms and conditions before placing an order.
      operationId: getOrderTermsUsingGET
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Successfully retrieved Status
          schema:
            $ref: '#/definitions/OrderTermsResponse'
        '404':
          description: Resource not found
        '500':
          description: 500 message
  /ne/v1/prices:
    get:
      tags:
      - Setup
      summary: Get the Price
      description: Returns the price of a virtual device and license based on account number and other fields. Please note that the listed price does not include the price of any optional features added to the device, some of which are charged.
      operationId: retrievePriceUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountNumber
        in: query
        description: Account number
        required: false
        type: integer
        format: int32
      - name: metro
        in: query
        description: Metro
        required: false
        type: string
      - name: vendorPackage
        in: query
        description: Vendor package
        required: false
        type: string
      - name: licenseType
        in: query
        description: License type
        required: false
        type: string
      - name: softwarePackage
        in: query
        description: Software package
        required: false
        type: string
      - name: throughput
        in: query
        description: Throughput
        required: false
        type: integer
        format: int32
      - name: throughputUnit
        in: query
        description: Throughput unit
        required: false
        type: string
      - name: termLength
        in: query
        description: Term length (in months)
        required: false
        type: string
      - name: additionalBandwidth
        in: query
        description: Additional bandwidth (in Mbps)
        required: false
        type: integer
        format: int32
      - name: virtualDeviceUuid
        in: query
        description: Virtual device unique Id (only required if existing device is being modified)
        required: false
        type: string
      - name: deviceManagementType
        in: query
        description: The device management type
        required: false
        type: string
      - name: core
        in: query
        description: The number of cores
        required: false
        type: integer
        format: int32
      - name: secondaryAccountNumber
        in: query
        description: The secondary account number (for HA)
        required: false
        type: integer
        format: int32
      - name: secondaryMetro
        in: query
        description: Secondary metro (for HA)
        required: false
        type: string
      - name: secondaryAdditionalBandwidth
        in: query
        description: Secondary additional bandwidth (in Mbps for HA)
        required: false
        type: integer
        format: int32
      - name: accountUcmId
        in: query
        description: Account unique ID
        required: false
        type: string
      - name: orderingContact
        in: query
        description: Reseller customer username
        required: false
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompositePriceResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/orderSummaries:
    get:
      tags:
        - Setup
      summary: Get Order Summary
      description: Gets the order summary as a printable pdf file. This API helps customers who have to go through a PO process at their end to make a purchase and need a formal quote
      operationId: getOrderSummaryUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: accountNumber
          in: query
          description: Account number
          required: false
          type: integer
          format: int32
        - name: metro
          in: query
          description: Metro
          required: false
          type: string
        - name: vendorPackage
          in: query
          description: Vendor package
          required: false
          type: string
        - name: licenseType
          in: query
          description: License type
          required: false
          type: string
        - name: softwarePackage
          in: query
          description: Software package
          required: false
          type: string
        - name: throughput
          in: query
          description: Throughput
          required: false
          type: integer
          format: int32
        - name: throughputUnit
          in: query
          description: Throughput unit
          required: false
          type: string
        - name: termLength
          in: query
          description: Term length (in months)
          required: false
          type: string
        - name: additionalBandwidth
          in: query
          description: Additional bandwidth (in Mbps)
          required: false
          type: integer
          format: int32
        - name: virtualDeviceUuid
          in: query
          description: Virtual device unique Id (only required if existing device is being modified)
          required: false
          type: string
        - name: deviceManagementType
          in: query
          description: The device management type
          required: false
          type: string
        - name: core
          in: query
          description: The number of cores
          required: false
          type: integer
          format: int32
        - name: secondaryAccountNumber
          in: query
          description: Secondary account number (in case you have a device pair)
          required: false
          type: integer
          format: int32
        - name: secondaryMetro
          in: query
          description: Secondary metro (in case you have a device pair)
          required: false
          type: string
        - name: secondaryAdditionalBandwidth
          in: query
          description: Secondary additional bandwidth (in Mbps)
          required: false
          type: integer
          format: int32
        - name: accountUcmId
          in: query
          description: Account unique ID
          required: false
          type: string
        - name: orderingContact
          in: query
          description: Reseller customer username
          required: false
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: ContentType- application/pdf, charset UTF-8. The response is a pdf file that you can save or view online. 
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'


  /ne/v1/publicKeys:
    get:
      tags:
      - Setup
      summary: Get Public Keys
      description: Returns the SSH public keys associated with this organization. If you are a reseller, please pass the account number of you customer to get the public keys.
      operationId: getPublicKeysUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accountUcmId
        in: query
        description: This field is for resellers. Please pass the accountUcmId of your customer to get the public keys. 
        required: false
        type: string

      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: "#/definitions/PageResponse-PublicKeys"

        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
    post:
      tags:
      - Setup
      summary: Create Public Key
      description: Creates a public key. If you are a reseller, pass the account number of your customer to create a key-name and key-value pair.
      operationId: postPublicKeyUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: publicKeyRequest
        description: keyName, keyValue, and keyType
        required: true
        schema:
          $ref: '#/definitions/PublicKeyRequest'
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '201':
          description: Created. The unique Id of the newly created key is in the location header of the response.

        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '404':
          description: Resource Not Found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
 
            
  /ne/v1/notifications:
    get:
      tags:
      - Setup
      summary: Get Downtime Notifications
      description: Returns all planned and unplanned downtime notifications related to APIs and infrastructure. Please pass a token in the header.
      operationId: getNotificationsUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DowntimeNotification'

        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  
  /ne/v1/files:
    post:
      tags:
      - Setup
      summary: Upload File (Post)
      description: Uploads a license or an initialization file. You can use this API to upload your bootstrap file generated from the Aviatrix controller portal. The response includes the unique ID of the uploaded file.

      operationId: uploadFileUsingPOST
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: deviceManagementType
        in: formData
        description: Device management type, whether SELF-CONFIGURED or not 
        required: false
        type: string
      - name: file
        in: formData
        description: A license or a cloud_init file. For example, for Aviatrix, this is your bootsrap config file generated from the Aviatrix Controller portal.
        required: true
        type: file
      - name: licenseType
        in: formData
        description: Type of license (BYOL-Bring Your Own License)
        required: false
        type: string
      - name: metroCode
        in: formData
        description: Two-letter metro code.
        required: true
        type: string
      - name: deviceTypeCode
        in: formData
        description: Device type code, e.g., AVIATRIX_EDGE
        required: true
        type: string
      - name: processType
        in: formData
        description: Whether you are uploading a license or a cloud_init file. LICENSE or CLOUD_INIT
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FileUploadResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'


  /ne/v1/devices/licenseFiles:
    post:
      tags:
      - Licensing
      summary: Post License File
      description: In case you want to bring your own license (BYOL), you can use this API to post a license file before creating a virtual device.
      operationId: uploadLicenseUsingPOST
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: file
        in: formData
        description: file
        required: true
        type: file
      - name: metroCode
        in: query
        description: metroCode
        required: true
        type: string
      - name: deviceTypeCode
        in: query
        description: deviceTypeCode
        required: true
        type: string
      - name: licenseType
        in: query
        description: licenseType
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LicenseUploadResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/devices/licenseFiles/{uuid}:
    post:
      tags:
      - Licensing
      summary: Post License {uuid}
      description: In case you want to bring your own license and have already created a virtual device, use this API to post a license file. You can also use this API to renew a license that is about to expire.
      operationId: uploadLicenseForDeviceUsingPOST
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique Id of a virtual device
        required: true
        type: string
      - name: file
        in: formData
        description: License file
        required: true
        type: file
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LicenseUploadResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/devices/{uuid}/licenseTokens:
    put:
      tags:
      - Licensing
      summary: Update License Token/ID/Code
      description: If you want to bring your own license (BYOL), you can use this API to post or update a license token after a virtual device is created.
      operationId: updateLicenseUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique Id of a virtual device
        required: true
        type: string
      - in: body
        name: request
        description: License token
        required: true
        schema:
          $ref: "#/definitions/LicenseUpdateRequest"
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: "#/definitions/LicenseUploadResponse"
        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '404':
          description: Resource Not Found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
  /ne/v1/devices:
    post:
      tags:
      - Virtual Device
      summary: Create Virtual Device
      description: Creates a virtual device. Sub-customers cannot choose the subscription licensing option. To create a device, you must accept the Order Terms. Call Get Order Terms to review the details. If you are creating an Equinix-Configured device, read your vendor's terms by calling Get Vendor Terms. 
      operationId: createVirtualDeviceUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: virtualDevice
        description: Create a virtual device (e.g., a router or a firewall)
        required: true
        schema:
          $ref: '#/definitions/VirtualDeviceRequest'
      - $ref: '#/parameters/authorizationHeader'
      - name: draft
        in: query
        description: draft
        required: false
        type: boolean
        default: false
      - name: draftUuid
        in: query
        description: draftUuid
        required: false
        type: string
      responses:
        '202':
          description: Request accepted. To check the status of your device, please call Get virtual device {uuid} API.
          schema:
            $ref: '#/definitions/VirtualDeviceCreateResponse'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

    get:
      tags:
      - Virtual Device
      summary: Get Virtual Devices
      description: Returns all the available virtual devices, i.e. routers and routers, on the Network Edge platform.
      operationId: getVirtualDevicesUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: offset
        in: query
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string 
        default: 20
        format: int32

      - name: metroCode
        in: query
        description: metroCode
        required: false
        type: string
      - name: status
        in: query
        description: status
        required: false
        type: string
      - name: showOnlySubCustomerDevices
        in: query
        description: Resellers may mark this Yes to see sub customer devices.
        required: false
        type: boolean
      - name: accountUcmId
        in: query
        description: Unique ID of the account.
        required: false
        type: string
    
      - name: searchText
        in: query
        description: Enter text to fetch only matching device names
        type: string
        
      - name: sort
        in: query
        description: Sorts the output based on field names.
        type: array
        items:
          type: string
        
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VirtualDevicePageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'


  /ne/v1/devices/{uuid}:
    get:
      tags:
      - Virtual Device
      summary: Get Virtual Device {uuid}
      description: Returns the virtual device details of an existing device on the Network Edge platform. You must provide the unique ID of the existing device as a path parameter.
      operationId: getVirtualDeviceUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VirtualDeviceDetailsResponse'
        '404':
          description: Resource Not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    patch:
      tags:
      - Virtual Device
      summary: Update Virtual Device
      description: Updates certain fields of a virtual device. You can only update the name, term length, status, and notification list of a virtual device. 
      operationId: updateVirtualDeviceUsingPATCH_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: The unique Id of the device.
        required: true
        type: string
      - in: body
        name: virtualDeviceUpdateRequestDto
        schema:
          "$ref": "#/definitions/VirtualDeviceInternalPatchRequestDto"
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: The request was successfully processed.

        '400':
          description: Bad request
          schema:
            "$ref": "#/definitions/FieldErrorResponse"
        '500':
          description: Internal Server Error
          schema:
            "$ref": "#/definitions/ErrorMessageResponse"
    delete:
      tags:
      - Virtual Device
      summary: Delete Virtual Devices
      description: Delete a virtual device. For some device types (e.g., Palo Alto devices), you also need to provide a deactivation key as a body parameter. For a device pair, the deleteRedundantDevice field must be marked True so we delete both the devices simultaneously.
      operationId: deleteVRouterUsingDELETE
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique Id of the virtual device.
        required: true
        type: string
      - in: body
        name: deletionInfo
        description: deletionInfo
        required: false
        schema:
          $ref: "#/definitions/VirtualDeviceDeleteRequest"
      - name: deleteRedundantDevice
        in: query
        required: false
        type: boolean
        default: false
        description: Optional parameter in case you have a secondary device. As both primary and secondary devices are deleted simultaneously, this field must be marked True so we delete both the devices simultaneously.
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: The deletion is in progress. Call Get virtual device {uuid} API to check the status of your deletion.
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    put:
      tags:
        - Virtual Device
      summary: Update Device Draft
      description: This API is for updating a virtual device draft <br/>and does not support device update as of now.
      operationId: updateVirtualDeviceUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: draft
          in: query
          description: draft
          required: true
          type: boolean
          default: true
        - in: body
          name: virtualDevice
          description: Update virtual device details
          required: true
          schema:
            $ref: '#/definitions/VirtualDeviceRequest'
        - name: uuid
          in: path
          description: Unique Id of a Virtual Device 
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
  /ne/v1/devices/{virtualDeviceUUID}/softReboot:            
    get:
      tags:
      - Virtual Device
      summary: Device Reload History
      description: Returns the reload history of a device. Please send the unique Id of the device as a path parameter.
      operationId: getDeviceReloadUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: offset
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string          
        default: 20
        format: int32
      - name: virtualDeviceUUID
        in: path
        description: Unique ID of a virtual device. 
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceRebootPageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    post:
      tags:
      - Virtual Device
      summary: Trigger Soft Reboot
      description: Triggers the soft reboot of a device. Please send the unique Id of the device as a path parameter.
      operationId: postDeviceReloadUsingPOST_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: virtualDeviceUUID
        in: path
        description: Unique ID of a virtual device. 
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '201':
          description: A request to reboot has been created. 
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

   
  /ne/v1/aclTemplates:
    post:
      tags:
      - ACL Template
      summary: Create ACL Template
      description: Creates ACL templates. You can find the unique ID of the ACL template in the location header. 
      operationId: createDeviceACLTemplateUsingPost
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: aclTemplateRequest
        description: Creates an ACL template.
        required: true
        schema:
          $ref: '#/definitions/DeviceACLTemplateRequest'
      - name: accountUcmId
        in: query
        description: A reseller creating an ACL template for a customer can pass the accountUcmId of the customer.
        required: false
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '201':
          description: ACL template created. The response is the unique ID of the ACL template.
          schema:
            $ref: '#/definitions/VirtualDeviceCreateResponse'
        '400':
          description: Bad request
          schema:
            $ref: "#/definitions/FieldErrorResponse"
        '404':
          description: Resource Not found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
    get:
      tags:
      - ACL Template
      summary: Get ACL Templates
      description: Returns all ACL templates. The ACL templates list the networks that require access to the device.
      operationId: getDeviceACLTemplateUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: offset
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string          
        default: 20
        format: int32
      - name: accountUcmId
        in: query
        description: Unique ID of the account. A reseller querying for the ACLs of a customer should input the accountUcmId of the customer.
        required: false
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceACLPageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
  /ne/v1/aclTemplates/{uuid}:
    get:
      tags:
      - ACL Template
      summary: Get ACL Template {uuid}
      description: Returns details of any existing template. You must provide the unique ID of an existing template as a path parameter.
      operationId: getDeviceTemplatebyUuid
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique Id of an ACL template
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ACLTemplateDetailsResponse'

        '404':
          description: Resource Not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    delete:
      tags:
      - ACL Template
      summary: Delete ACL template
      description: Deletes an ACL template. You must provide the unique Id of the ACL template as a path parameter.
      operationId: deletedeviceACLUsingDELETE
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique ID of an ACL template
        required: true
        type: string
      - name: accountUcmId
        in: query
        description: A reseller deleting an ACL template for a customer must pass the accountUcmId of the customer.
        required: false
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: The deletion is in progress. 
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '404':
          description: Resource not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    put:
      tags:
        - ACL Template
      summary: Update ACL Template
      description: Updates an ACL template. You must pass the unique Id of the ACL template as a path parameter.
      operationId: updateDeviceACLTemplateUsingPUT
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique ID of an ACL template
          required: true
          type: string
        - name: accountUcmId
          in: query
          description: A reseller updating an ACL template for a customer must pass the accountUcmId of the customer.
          required: false
          type: string
        - in: body
          name: aclTemplateRequest
          description: Update an ACL template.
          required: true
          schema:
           $ref: '#/definitions/DeviceACLTemplateRequest'
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'


  /ne/v1/devices/{virtualDeviceUuid}/acl:
    get:
      tags:
      - ACL Template
      summary: Get ACL of Virtual Device
      description: Returns the details of ACL templates associated with a device. You must provide the unique ID of an existing virtual device as a path parameter.
      operationId: getDeviceTemplatesbyUuid
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: virtualDeviceUuid
        in: path
        description: Unique Id of a virtual device.
        required: true
        type: string

      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InitialDeviceACLResponse'

        '404':
          description: Resource Not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    post:
      tags:
      - ACL Template
      summary: Add ACL to Virtual Device
      description: Updates the details of ACL templates associated with a device. You must provide the unique ID of an existing virtual device as a path parameter.
      operationId: postDeviceTemplatesbyUuid
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: virtualDeviceUuid
        in: path
        description: Unique Id of a virtual device.
        required: true
        type: string
      - in: body
        name: aclTemplateRequest
        description: Update the ACL of a device.
        required: true
        schema:
          $ref: '#/definitions/UpdateDeviceACLTemplateRequest'
      - name: accountUcmId
        in: query
        description: A reseller updating a device ACL template for a customer can pass the accountUcmId of the customer.
        required: false
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: Successfully updated


        '404':
          description: Resource Not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
    patch:
      tags:
      - ACL Template
      summary: Update ACL of Virtual Device
      description: Updates or removes the details of ACL templates associated with a device. You must provide the unique ID of an existing virtual device as a path parameter.
      operationId: patchDeviceTemplatesbyUuid
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: virtualDeviceUuid
        in: path
        description: Unique Id of a virtual device.
        required: true
        type: string
      - in: body
        name: aclTemplateRequest
        description: Update the ACL of a device.
        required: true
        schema:
          $ref: '#/definitions/UpdateDeviceACLTemplateRequest'
      - name: accountUcmId
        in: query
        description: A reseller updating a device ACL template for a customer can pass the accountUcmId of the customer.
        required: false
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: Successfully updated


        '404':
          description: Resource Not found
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/devices/{uuid}/additionalBandwidths:
    put:
      tags:
      - Virtual Device
      summary: Update Additional Bandwidth
      description: You can use this method to change or add additional bandwidth to a virtual device.
      operationId: updateAdditionalBandwidth
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: The unique Id of a virtual device
        required: true
        type: string
      - in: body
        name: request
        description: Additional Bandwidth
        required: true
        schema:
          $ref: "#/definitions/AdditionalBandwidthRequest"
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: No Content

        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '404':
          description: Resource Not Found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
  /ne/v1/devices/{uuid}/interfaces:
    get:
      tags:
      - Virtual Device
      summary: Get Device Interfaces
      description: Returns the status of the interfaces of a device. You must pass the unique Id of the device as a path parameter. 
      operationId: getVirtualDeviceInterfacesUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: "#/definitions/InterfaceBasicInfoResponse"
        '404':
          description: Resource Not found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
  /ne/v1/devices/{uuid}/ping:
    get:
      tags:
      - Virtual Device
      summary: Ping Virtual Device
      description: Pings a virtual device to ensure it's reachable. At this point, you can only ping a few SELF-CONFIGURED devices. 
      operationId: pingDeviceUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Virtual Device unique Id
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: The device is reachable.

        '400':
          description: Bad Request
          schema:
            $ref: "#/definitions/FieldErrorResponse"
        '404':
          description: Not Found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
            
            
  /ne/v1/devices/{virtualDeviceUuid}/interfaces/{interfaceId}/stats:
    get:
      tags:
      - Virtual Device
      summary: Get Interface Statistics
      description: Returns the throughput statistics of a device interface. Pass the unique Id of the device and the interface Id as path parameters. 
      operationId: getInterfaceStatisticsUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: virtualDeviceUuid
        in: path
        description: Unique Id of a device
        required: true
        type: string
      - name: interfaceId
        in: path
        description: Interface Id
        required: true
        type: string
      - name: startDateTime
        in: query
        description: Start time of the duration for which you want stats. (YYYY-MM-DDThh:mm:ssZ)
        required: true
        type: string
      - name: endDateTime
        in: query
        description: End time of the duration for which you want stats. (YYYY-MM-DDThh:mm:ssZ)
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Success
          schema:
            $ref: "#/definitions/InterfaceStatsObject"
        '404':
          description: Resource Not found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
  /ne/v1/devices/{virtualDeviceUuid}/resourceUpgrade:            
    get:
      tags:
      - Virtual Device
      summary: Get Device Upgrade History
      description: Returns the upgrade history of a device. Please send the unique Id of the device as a path parameter.
      operationId: getDeviceUpgradeUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: offset
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string          
        default: 20
        format: int32
      - name: virtualDeviceUuid
        in: path
        description: Unique ID of a virtual device. 
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceUpgradePageResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'


  /ne/v1/links:
    post:
      tags:
      - Device Link
      summary: Create Device Link
      description: Call this API to create a device link between virtual devices. You can include any devices that are registered and provisioned. 
      operationId: createLinkGroupUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: deviceLinkGroup
        description: New Device Link Group
        required: true
        schema:
          $ref: "#/definitions/DeviceLinkRequest"
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '202':
          description: Unique ID of the device link group.
          schema:
            $ref: "#/definitions/DeviceLinkGroupResponse"
        '400':
          description: Bad request
          schema:
            $ref: "#/definitions/FieldErrorResponse"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
    get:
      tags:
      - Device Link
      description: This method returns device links. You can link any two or more devices that are registered and provisioned.
      summary: Get Device Links.
      operationId: getLinkGroupsUsingGET_1
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: metro
        in: query
        required: false
        type: string
        description: Metro Code
      - name: virtualDeviceUuid
        in: query
        required: false
        type: string
        description: Unique Id of a virtual device.
      - name: accountUcmId
        in: query
        required: false
        type: string
        description: Unique Id of the account. A reseller querying for a customer's link groups can pass the accountUcmId of the customer's account. To get the accountUcmId of your customer's account, please check the Equinix account creation portal (ECP) or call Get account API.
      - name: groupUuid
        in: query
        required: false
        type: string
        description: Unique Id of a link group

      - name: groupName
        in: query
        required: false
        type: string
        description: The name of a link group
        
      - name: offset
        in: query
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string 
        default: 20
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: "#/definitions/LinksPageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
  /ne/v1/links/{uuid}:
    get:
      tags:
      - Device Link
      summary: Get Device Link {uuid}
      description: This API will return a device link by its unique Id. Authorization checks are performed on the users of this API. 
      operationId: getLinkGroupByUUIDUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique Id of a device link group.
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/DeviceLinkGroupDto"

        '404':
          description: Resource Not Found
          schema:
            $ref: "#/definitions/FieldErrorResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
    patch:
      tags:
      - Device Link
      summary: Update Device Link
      description: Call this API to update a device link. Authorization checks are performed on the users of this API.
      operationId: updateLinkGroupUsingPATCH
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: Unique Id of a device link group.
        required: true
        type: string
      - in: body
        name: deviceLinkGroup
        description: Device Link Group
        required: true
        schema:
          $ref: "#/definitions/DeviceLinkRequest"
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: Request fulfilled.

        '400':
          description: Bad request
          schema:
            $ref: "#/definitions/FieldErrorResponse"
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
    delete:
      tags:
      - Device Link
      summary: Delete Device Link
      description: This method deletes a device link group. Authorization checks are performed on the users of this API.
      operationId: deleteLinkGroupUsingDELETE
      consumes:
      - application/json
      produces:
      - "*/*"
      parameters:
      - name: uuid
        in: path
        description: Unique Id of a device link group.
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: Request fulfilled.
        '403':
          description: Forbidden
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '404':
          description: Resource not found
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"


  /ne/v1/bgp:
    post:
      tags:
      - BGP
      summary: Create BGP Peering
      description: Creates a BGP session to establish a point-to-point connection between your virtual device and cloud service provider. To create BGP peers, you must have a virtual device that is provisioned and registered and a provisioned connection.
      operationId: addBgpConfigurationUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: BGP configuration details
        required: false
        schema:
          $ref: '#/definitions/BgpConfigAddRequest'
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/BgpAsyncResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

    get:
      tags:
      - BGP
      summary: Get BGP Peering
      description: Returns BGP configurations on the Network Edge platform. Authorization checks are performed on the users of this API.
      operationId: getBgpConfigurationsUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: virtualDeviceUuid
        in: query
        description: Unique Id of a virtual device
        required: false
        type: string
      - name: connectionUuid
        in: query
        description: Unique Id of a connection
        required: false
        type: string
      - name: status
        in: query
        description: Provisioning status of BGP Peering
        required: false
        type: string
      - name: accountUcmId
        in: query
        description: Unique Id of an account. A reseller querying for a customer's devices can input the accountUcmId of the customer's account. 
        required: false
        type: string
      - name: offset
        in: query
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string 
        default: 20
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BgpInfo'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/bgp/{uuid}:
    put:
      tags:
      - BGP
      summary: Update BGP Peering
      description: Updates an existing BGP peering configuration identified by its unique Id. Authorization checks are performed on the users of this API.
      operationId: updateBgpConfigurationUsingPUT
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - in: body
        name: request
        description: BGP config
        required: false
        schema:
          $ref: '#/definitions/BgpUpdateRequest'
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/BgpAsyncResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    get:
      tags:
      - BGP
      summary: Get BGP Peering {uuid}
      description: Gets a BGP peering configuration by its unique Id. Authorization checks are performed on the users of this API.
      operationId: getBgpConfigurationUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BgpInfo'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/vpn:
    post:
      tags:
      - VPN
      summary: Create VPN Configuration
      description: Creates a VPN configuration. You must have a provisioned virtual device with a registered license to create a VPN.
      operationId: createVpnUsingPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: request
        description: VPN info
        required: false
        schema:
          $ref: '#/definitions/Vpn'
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '201':
          description: Created Successfully

        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    get:
      tags:
      - VPN
      summary: Get VPN Configurations
      description: Gets all VPN configurations by user name and specified parameter(s). Authorization checks are performed on the users of this API.
      operationId: getVpnsUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: statusList
        in: query
        description: One or more desired status
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        enum:
        - PROVISIONED
        - PROVISIONING
        - PROVISIONING_RETRYING
        - UPDATING
        - PROVISIONING_UPDATE_RETRYING
        - DEPROVISIONED
        - DEPROVISIONING
        - DEPROVISIONING_RETRYING
        - PROVISIONING_FAILED
        - PROVISIONING_UPDATE_FAILED
        - DEPROVISIONING_FAILED
      - name: virtualDeviceUuid
        in: query
        description: Unique Id of a virtual device
        required: false
        type: string
      - name: offset
        in: query
        description: Specifies where to start a page. It is the starting point of the collection returned from the server.
        required: false
        type: string
        default: 0
        format: int32
      - name: limit
        in: query
        description: Specifies the page size.
        required: false
        type: string 
        default: 20
        format: int32

      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: "#/definitions/VpnResponseDto"
        '403':
          description: Unauthorized User
          schema:
            $ref: "#/definitions/FieldErrorResponse"
        '500':
          description: Internal Server Error
          schema:
            $ref: "#/definitions/ErrorMessageResponse"
    
  /ne/v1/vpn/{uuid}:
    get:
      tags:
      - VPN
      summary: Get VPN Configuration {uuid}
      description: Gets a VPN configuration by its unique Id. Authorization checks are performed on the users of this API.
      operationId: getVpnByUuidUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: Read Successfully
          schema:
            $ref: '#/definitions/VpnResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '404':
          description: Resource Not found
          schema:
            type: string
            enum:
            - INTERNAL_SERVER_ERROR
            - INVALID_JSON_FORMAT
            - RESOURCE_NOT_FOUND
            - UNAUTHORIZED_USER
            - INVALID_REQUEST_FORMAT
            - ZONE_NOT_FOUND
            - SOURCE_ZONE_NOT_FOUND
            - DESTINATION_ZONE_NOT_FOUND
            - ZONES_NOT_PART_SAME_DEVICE
            - CONNECTION_ALREADY_PART_OF_ZONE
            - ZONE_PART_OF_FIREWALL
            - CONNECTION_NOT_AVAILABLE
            - ZONE_ALREADY_EXISTS
            - FIREWALL_NOT_FOUND
            - FIREWALL_ALREADY_EXISTS
            - RULE_ALREADY_EXISTS
            - RULE_NOT_FOUND
            - RULE_NOT_PART_OF_FIREWALL
            - VIRTUAL_DEVICE_NOT_FOUND
            - VIRTUAL_DEVICE_NOT_PROVISIONED
            - DEVICE_LICENSE_NOT_REGISTERED
            - MGMT_INTERFACE_NOT_AVAILABLE
            - INTERFACE_NOT_AVAILABLE
            - INTERFACE_NOT_PROVISIONED
            - NAT_CONFIG_ALREADY_EXISTS
            - NAT_CONFIG_NOT_FOUND
            - ADD_NAT_CONFIG_FAILED
            - EDIT_NAT_CONFIG_FAILED
            - REMOVE_NAT_CONFIG_FAILED
            - NAT_POOL_TYPE_CHANGE_DISABLED
            - INVALID_ACTION_TYPE
            - INVALID_ADD_ACTION
            - INVALID_MODIFY_ACTION
            - INVALID_STATIC_NAT_UUID
            - OVERLAP_IP_CONFLICT
            - CONNECTION_NOT_FOUND
            - BGP_NOT_FOUND
            - INVALID_IP_ADDRESS
            - INVALID_NETWORK_SERVICE_TYPE
            - IBX_NOT_FOUND
            - PRICE_SERVICE_REQUEST_INVALID
            - PRICE_SERVICE_REQUEST_FAILED
            - BGP_CONFIG_NOT_FOUND
            - BGP_NEIGHBOR_INFO_NOT_FOUND
            - LOCAL_IP_ADDRESS_NOT_IN_RANGE
            - REMOTE_IP_ADDRESS_NOT_IN_RANGE
            - CONNECTION_DEVICE_NOT_FOUND
            - CONNECTION_NOT_PROVISIONED
            - BROADCAST_ADDRESS_NOT_ALLOWED
            - NETWORK_ADDRESS_NOT_ALLOWED
            - OVERLAP_LOCAL_IP_ADDRESS
            - DATA_INTERFACE_NOT_AVAILABLE
            - ADD_BGP_CONFIG_FAILED
            - REMOVE_BGP_CONFIG_FAILED
            - INTERFACE_NOT_FOUND
            - UPDATE_BGP_CONFIG_FAILED
            - EXISTING_CONNECTION_BGP
            - BGP_EXISTING_NAT_SERVICES
            - BGP_EXISTING_FIREWALL_SERVICES
            - BGP_UPDATE_NOT_ALLOWED
            - BGP_EXISTING_VPN_SERVICES
            - REMOTE_LOCAL_SAME_IP_ADDRESS
            - BGP_FAILED_ASN_UPDATE
            - BGP_FAILED_INTERFACE_DESC
            - BGP_NSO_FAILED_FETCH
            - BGP_NSO_FAILED_UPDATE
            - BGP_FAILED_VPN_UPDATE
            - BGP_RETRY_FAILED
            - VPN_NAME_ALREADY_IN_USE
            - VPN_DEVICE_NOT_FOUND
            - VPN_DEVICE_USER_KEY_MISMATCH
            - VPN_DEVICE_NOT_REGISTERED
            - VPN_NO_CONFIGURED_CLOUD_BGP_FOUND
            - VPN_DEVICE_ASN_NOT_CONFIGURED
            - VPN_MATCHING_ASN
            - VPN_LIMIT_EXCEEDED
            - VPN_NO_INTERFACES_FOUND
            - VPN_SSH_INTERFACE_ID_NOT_FOUND
            - VPN_INVALID_SSH_INTERFACE_ID
            - VPN_CONFIG_NOT_FOUND
            - VPN_NSO_CREATE_TRANSIENT_FAILURE
            - VPN_NSO_CREATE_PERMANENT_FAILURE
            - VPN_NSO_DELETE_TRANSIENT_FAILURE
            - VPN_NSO_DELETE_PERMANENT_FAILURE
            - VPN_PEER_IP_ALREADY_IN_USE
            - VPN_DEVICE_MISSING_IPSEC_PACKAGE
            - VPN_INVALID_STATUS_LIST
            - VPN_RESTRICTED_ASN
            - VPN_UNAUTHORIZED_ACCESS
            - VPN_ALREADY_DELETED
            - VPN_RESTRICTED_IP_ADDRESS
            - VPN_DEVICE_NOT_IN_READY_STATE
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    put:
      tags:
      - VPN
      summary: Update VPN Configuration
      description: Update a VPN configuration by its unique Id. Authorization checks are performed on the users of this API.
      operationId: updateVpnConfigurationUsingPut
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - in: body
        name: request
        description: VPN info
        required: false
        schema:
          $ref: '#/definitions/Vpn'
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
        '204':
          description: Request fulfilled
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    delete:
      tags:
      - VPN
      summary: Delete VPN Configuration
      description: Deletes a VPN configuration by its unique Id. Authorization checks are performed on the users of this API.
      operationId: removeVpnConfigurationUsingDELETE
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: uuid
        in: path
        description: uuid
        required: true
        type: string
      - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
        '204':
          description: Request fulfilled
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

  /ne/v1/deviceBackups:
    get:
      tags:
        - Device Backup & Restore
      summary: Get Backups of Device
      description: Returns the backups of a virtual device. Authorization checks are performed on the users of this API.
      operationId: getDeviceBackupsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:

        - name: virtualDeviceUuid
          in: query
          description: Unique ID of a virtual device
          required: true
          type: string
        - name: status
          in: query
          description: An array of status values
          required: false
          type: array
          items:
           type: string
        - name: offset
          in: query
          description: Specifies where to start a page. It is the starting point of the collection returned from the server.
          required: false
          type: string
          default: 0
          format: int32
        - name: limit
          in: query
          description: Specifies the page size.
          required: false
          type: string 
          default: 20
          format: int32

        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceBackupPageResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    post:
      tags:
        - Device Backup & Restore
      summary: Creates Device Backup
      description: Creates the backup of a virtual device. Authorization checks are performed on the users of this API. 
      operationId: createDeviceBackupUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          description: Device backup info
          required: true
          schema:
            $ref: '#/definitions/DeviceBackupCreateRequest'
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '202':
          description: Accepted
          schema:
            $ref: '#/definitions/SshUserCreateResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/deviceBackups/{uuid}:
    get:
      tags:
        - Device Backup & Restore
      summary: Get Backups of Device {uuid}
      description: Returns the details of a backup by its unique ID. Authorization checks are performed on the users of this API. 
      operationId: getDetailsOfBackupsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique ID of a backup
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceBackupInfoVerbose'
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
    patch:
      tags:
        - Device Backup & Restore
      summary: Update Device Backup
      description: Updates the name of a backup. Authorization checks are performed on users of this API. 
      operationId: updateDeviceBackupUsingPATCH
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique ID of a backup
          required: true
          type: string
        - in: body
          name: request
          description: Update device backup
          required: true
          schema:
            $ref: '#/definitions/DeviceBackupUpdateRequest'
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: Updated successfully

        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

    delete:
      tags:
        - Device Backup & Restore
      summary: Delete Backup of Device
      description: Deletes a backup by its unique ID. Authorization checks are performed on users of this API.  
      operationId: deleteDeviceBackupUsingDELETE
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique Id a backup
          required: true
          type: string

        - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: Deleted successfully.

        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '404':
          description: Resource Not Found
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
  /ne/v1/deviceBackups/{uuid}/download:
    get:
      tags:
        - Device Backup & Restore
      summary: Download a Backup 
      description: Downloads the backup of a device by its backup ID. Authorization checks are performed on the users of this API. 
      operationId: downloadDetailsOfBackupsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique ID of a backup
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BackupDownloadResponse'
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
  /ne/v1/devices/{uuid}/restoreAnalysis:
    get:
      tags:
        - Device Backup & Restore
      summary: Checks Feasibility of Restore
      description: Checks the feasibility of restoring the backup of a virtual device. Authorization checks are performed on the users of this API. 
      operationId: checkDetailsOfBackupsUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique ID of a device
          required: true
          type: string
        - name: backupUuid
          in: query
          description: Unique ID of a backup
          type: string
          required: true
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RestoreBackupInfoVerbose'
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
  /ne/v1/devices/{uuid}/restore:
    patch:
      tags:
        - Device Backup & Restore
      summary: Restores a backup
      description: Restores any backup of a device. Authorization checks are performed on users of this API. 
      operationId: restoreDeviceBackupUsingPATCH
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: Unique ID of a backup
          required: true
          type: string
        - in: body
          name: request
          description: Update device backup
          required: true
          schema:
            $ref: '#/definitions/DeviceBackupUpdateRequest'
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: The backup was successfully restored

        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'
            
  /ne/v1/devices/{virtualDeviceUuid}/rma:

    post:
      tags:
        - Device RMA
      summary: Trigger Device RMA
      description: Triggers a request to create an RMA of a device. The payload to create an RMA is different for different vendors. You will need to enter a license to create an RMA.
      operationId: postDeviceRMAUsingPOST
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: virtualDeviceUuid
          in: path
          description: Unique ID of a device
          required: true
          type: string
        - in: body
          name: request
          description: Post RMA request
          required: true
          schema:
            $ref: '#/definitions/DeviceRMAPostRequest'
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '204':
          description: You successfully triggered an RMA request.

        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

  /ne/v1/devices/{deviceType}/repositories:
    get:
      tags:
        - Download Image
      summary: Get Downloadable Images
      description: Returns the downloadable images of a device type. Pass any device type as a path parameter to get the list of downloadable images. 
      operationId: getDownloadableImagesUsingGET
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: deviceType
          in: path
          description: Device type
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetDownloadableImageResponse'
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'

  /ne/v1/devices/{deviceType}/repositories/{version}/download:
    post:
      tags:
        - Download Image
      summary: Download an Image
      description: Returns a link to download image. You need to provide a device type and version as path parameters.
      operationId: postDownloadImage
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: deviceType
          in: path
          description: Device type
          required: true
          type: string
        - name: version
          in: path
          description: Version
          required: true
          type: string
        - $ref: '#/parameters/authorizationHeader'
      responses:
        '202':
          description: Download link of the image
          schema:
            $ref: '#/definitions/PostDownloadImageResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '403':
          description: Unauthorized User
          schema:
            $ref: '#/definitions/FieldErrorResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorMessageResponse'


definitions:
  AgreementStatusResponse:
    type: object
    properties:
      errorMessage:
        type: string
        example:
      isValid:
        type: string
        example: true
      terms:
        type: string
        example:
      termsVersionID:
        type: string
        example: 

  GetDownloadableImageResponse:
    type: array
    items:
      $ref: '#/definitions/ListOfDownloadableImages'
    
  
  ListOfDownloadableImages:
    type: object
    properties:
      uuid:
        type: string
        example: 4cfb5675-5c3f-4275-adba-0c9e3c26c96b
        description: The unique Id of the downloadable link.
      deviceType:
        type: string
        example: C8000V
        description: Device type. As of now, we only support C8000V.
      imageName:
        type: string
        example: CiscoSyst-C8000VCon-17.11.01a-3270
        description: Device type. As of now, we only support C8000V.
      version:
        type: string
        example: 17.11.01a
        description: Device version      
      
  PostDownloadImageResponse:
    type: object
    properties:
      downloadLink:
        type: string
        example: https://mb2lxfsprod.equinix.com/owncloud/index.php/s/7BTqXaZbggTURBO/download
        description: The link to download the image
        



      
  InterfaceStatsObject:
    type: object
    properties:
      stats:
        type: object
        $ref: '#/definitions/InterfaceStatsDetailObject'
        
  InterfaceStatsDetailObject:
    type: object
    properties:
      startDateTime:
        type: string
        example: 2023-11-10T19:06:06Z
        description: Start time of the duration for which you want stats.
      endDateTime:
        type: string
        example: 2023-11-17T19:06:06Z
        description: End time of the duration for which you want stats.
      unit:
        type: string
        example: Mbps
        description: Unit.
      inbound:
        type: object
        description: An object that has the stats of inbound traffic.
        $ref: '#/definitions/InterfaceStatsofTraffic'
      outbound:
        type: object
        description: An object that has the stats of outbound traffic.
        $ref: '#/definitions/InterfaceStatsofTraffic'

  InterfaceStatsofTraffic:
    type: object
    properties:
      max:
        type: number
        example: 29.90603462474768
        description: Max throughput during the time interval.
      mean:
        type: number
        example: 6.341387726453309
        description: Mean throughput during the time interval.
      lastPolled:
        type: number
        example: 4.2551751570268115
        description: The throughput of the last polled data.
      metrics:
        type: array
        items:
          $ref: '#/definitions/PolledThroughputMetrics'

  PolledThroughputMetrics:
    type: object
    properties:
      intervalDateTime:
        type: string
        example: 2023-11-10T19:32:14Z
        description: The end of a polled time period.
      mean:
        type: number
        example: 9.549439345514042
        description: Mean traffic throughput.
        
        
        
    
  DeviceRMAPostRequest:
    type: object
    required:
      - version
    properties:
      version:
        type: string
        example: 17.09.01a
        description: Any version you want.
      cloudInitFileId:
        type: string
        example: 029a0bcd-0b2f-4bc5-b875-b506aa4b9738
        description: For a C8KV device, this is the Id of the uploaded bootstrap file. Upload your Cisco bootstrap file by calling Upload File. In the response, you'll get a fileUuid that you can enter here as cloudInitFileId. This field may be required for some vendors.
      licenseFileId:
        type: string
        example: 329a0bcd-0b2f-4bc5-b875-b506aa4b9730
        description: This is the Id of the uploaded license file. For a CSR1KV SDWAN device, upload your license file by calling Post License File. In the response, you'll get a fileId that you can enter here as licenseFileId. This field may be required for some vendors.
      token:
        type: string
        example: 897gjikk888
        description: License token. For a cluster, you will need to provide license tokens for both node0 and node1. To get the exact payload for different vendors, check the Postman script on the API Reference page of online documentation.
      vendorConfig:
        type: object
        description: An object that has vendor specific details. This may be required for some  vendors.
        $ref: '#/definitions/RMAVendorConfig'
      userPublicKey:
        type: object
        description: An object that has userPublicKey details.
        $ref: '#/definitions/UserPublicKeyRequest'

  RMAVendorConfig:
    type: object
    properties:
      siteId:
        type: string
        example: 567
        description: Physical location within the Viptela overlay network, such as a branch office, or a campus (relevant only for Cisco SD-WANs)
      systemIpAddress:
        type: string
        description: IP assigned to CSRSDWAN router and vSmart controller (relevant only for Cisco SD-WANs)
        example: 192.164.0.0
      licenseKey:
        type: string
        example: "6735-vwe64568-6a91-4112-8734-bea12d91f7y7"
        description: License key. Mandatory for some devices.
      licenseSecret:
        type: string
        example: "h5j0i45e83324pblbfca764532c4a640e7801f0"
        description: License secret (Secret key). Mandatory for some devices.
      controller1:
        type: string
        example: 54.219.248.29
        description: For Fortinet devices, this is the System IP address.
      adminPassword:
        type: string
        example: ZQeIDI7sUd
        description: The administrative password of the device. You can use it to log in to the console. This field is not available for all device types. Should be at least 6 characters long and must include an uppercase letter and a number. This field may be required for some vendors.
      activationKey:
        type: string
        example: GJUK-JM2X-59BJ-2TDJ    
        description: Available on VMware Orchestration Portal
      provisioningKey:
        type: string
        example: provisioningKeysample
        description: Mandatory for Zscaler devices
      panoramaIpAddress: 
        type: string
        example: 1.1.1.1
        description: IP address of the Panorama controller. Provide this value to have Panorama integration. Relevant for Palo Alto Self-Configured devices with Internet Access
      panoramaAuthKey:
        type: string
        example: 123456
        description: This key supports secure onboarding of the Palo Alto firewall devices. Provide this value to have Panorama integration. Relevant for Palo Alto Self-Configured devices with Internet Access.
      
        
        
        

  AgreementAcceptRequest:
    type: object
    properties:
      accountNumber:
        type: string
        example: 456446
      apttusId:
        type: string
        example: c2Z34000002CXRm
        description: The version number of the agreement
  AgreementAcceptResponse:
    type: object
    properties:
      status:
        type: string
  metroCodes:
    type: string
    example: "SV"
  versionDetails:
    type: object
    properties:
     cause:
       $ref: '#/definitions/versionDetails'
     version:
        type: string
        example: 16.09.02
     imageName:
        type: string
        example: csr-16.09.02
     versionDate:
        type: string
        example: 2019-01-01
        description: The date the software was released
     retireDate:
        type: string
        example: 2024:12:12
        description: The date the software will no longer be available for new devices. This field will not show if the software does not have a retire date.
     status:
        type: string
        example: ACTIVE
     stableVersion:
        type: string
        example: true
     allowedUpgradableVersions:
        type: array
        items:
         type: string
         example: 16.09.03
     supportedLicenseTypes:
        type: array
        items:
          type: string
        example:
         - BYOL
         - Subscription
  SshUserCreateRequest:
    type: object
    required:
      - deviceUuid
      - password
      - username
    properties:
      username:
        type: string
        example: user1
        description: At least 3 and upto a maximum of 32 alphanumeric characters. The only special characters allowed are - _
      password:
        type: string
        example: pass12
        description: At least 6 and upto a maximum of 12 alphanumeric characters. The only special characters allowed are - _ $ @
      deviceUuid:
        type: string
        example: 3da0a663-20d9-4b8f-8c5d-d5cf706840c8
        description: The unique Id of a virtual device.
  DeviceBackupCreateRequest:
    type: object
    required:
      - deviceUuid
      - name
    properties:
      deviceUuid:
        type: string
        example: 3da0a663-20d9-4b8f-8c5d-d5cf706840c8
        description: The unique Id of a virtual device.
      name:
        type: string
        example: My New Backup
        description: The name of backup.

  DeviceBackupUpdateRequest:
    type: object
    required:
      - name
    properties:
      name:
        type: string
        example: My New Backup
        description: The name of backup.

  SshUserCreateResponse:
    type: object
    properties:
      uuid:
        type: string
        example: 12828472-e6e9-4f2b-98f7-b79cf0fab4ff
        description: The ID of the newly created SSH user.
  DeviceBackupCreateResponse:
    type: object
    properties:
      uuid:
        type: string
        example: 12828472-e6e9-4f2b-98f7-b79cf0fab4ff
        description: The ID of the backup that is being created.

  DeviceRMAInfo:
    type: object
    properties:
      data:
        type: array
        description: Array of previous RMA requests 
        items:
          $ref: '#/definitions/RmaDetailObject'
      pagination:
        "$ref": "#/definitions/PaginationResponseDto"


  RmaDetailObject:
    type: object
    properties: 
      deviceUUID:
        type: string
        example: 4cfb5675-5c3f-4275-adba-0c9e3c26c96b
        description: The unique Id of a device
      version:
        type: string
        example: 17.06.05
        description: Device version
      status:
        type: string
        example: SUCCESS
        description: Status of the request
      requestType:
        type: string
        example: RMA
        description: Type of request
      requestedBy:
        type: string
        example: nfvsit01
        description: Requested by
      requestedDate:
        type: string
        example: 2020/10/03T19:41:17.976Z
        description: Requested date
      completiondDate:
        type: string
        example: 2020/10/03T19:41:17.976Z
        description: Requested date     
        
        

  SshUserInfoVerbose:
    type: object
    properties:
      uuid:
        type: string
        description: The unique Id of the ssh user.
      username:
        type: string
        description: The user name of the ssh user.
      deviceUuids:
        type: array
        description: The devices associated with this ssh user.
        items:
          type: string
          example: 4cfb5675-5c3f-4275-adba-0c9e3c26c96b
      metroStatusMap:
        type: object
        description: Status and error messages corresponding to the metros where the user exists
        additionalProperties:
          $ref: '#/definitions/MetroStatus'

  DeviceBackupInfoVerbose:
    type: object
    properties:
      uuid:
        type: string
        description: The unique Id of the device backup.
        example: 4cfb5675-5c3f-4275-adba-0c9e3c26c96b
      name:
        type: string
        description: The name of the backup.
        example: My New Backup
      version:
        type: string
        description: Version of the device
        example: 16.09.02
      type:
        type: string
        description: The type of backup.
        example: CONFIG
      status:
        type: string
        description: The status of the backup.
        example: COMPLETED
      createdBy:
        type: string
[...]
