
name: Build examples

on:
  push:
  pull_request:

jobs:
  build-examples:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version-file: go.mod
    - name: Build all examples
      run: make build-examples-all
