
name: Build examples

on:
  push:
  pull_request:

jobs:
  build-examples:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version-file: go.mod
    - name: Build all examples
      run: make build-examples-all
